<header>
  <nav class="navbar">
      <div id="logo"><a href="/">Writeup</a></div>  
      <div class="menu-icon" id="menu-icon">&#9776;</div> 
    <ul class="nav-links">
      <li class="nav-element"><a href="/journal">Journals</a></li>
      <li class="nav-element"><a href="/book">Book tracker</a></li>
      <li class="nav-element"><a href="/story">Creative writing</a></li>
      <li class="nav-element"><a href="/logout">Logout</a></li>
    </ul> 
  </nav>
</header>
