<!DOCTYPE html>
<html lang="en">
  <%- include("includes/head") %>
  <body>
    <main id="home">
      <div class="homediv">
        <h1>Ease your creativity with Writeup!</h1>
        <a id="login-btn" href="/login">Login</a>
      </div>
      <div class="home-content">
        <p>
        Writeup lets you save all the things that are on your mind so can access
        them whenever you like.
      </p>
      <p><small>Click the login button to seee what you got</small></p>

      <div id="features-box">
        <h2>What features you've got at Writeup</h2>
        <div class="features">
        <h3>Journaling made effortless</h3>
        <p>Tired of forgetting those late-night ideas or emotional rollercoasters? Writeup lets you capture your thoughts instantly and securely. Just open, write, and save—your mind’s private storage space is ready 24/7.</p>
      </div>
      <div class="features">
        <h3>Track Your Reading Journey</h3>
        <p>From thrillers to self-help, keep a digital log of every book you read (or abandon halfway—we won’t judge). Add notes, mark progress, and feel good about your growing bookshelf.</p>
      </div>
      <div class="features">
        <h3>Creative Writing Playground</h3>
        <p>Whether you're writing your next short story or just letting your imagination run wild, Writeup gives you the space to create freely. No distractions, no pressure—just your thoughts and a blank canvas.</p>
      </div>
      <div class="features">
        <h3>Your Words, Your World</h3>
        <p>Your entries are protected with encrypted sessions, and we never snoop. Only you get to see what you write.</p>
      </div>
      <div class="features">
        <h3>Progress At A Glance</h3>
        <p>See how many entries you’ve written, books you’ve tracked, and stories you’ve begun—all in one dashboard. Because watching your creative journey grow is half the fun.</p>
      </div>
      </div>

      </div>
    </main>
    <%- include("includes/footer") %>
  </body>
</html>
